# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 41d429992636068feb2d865efb77023fa217efe562877ac387c6af85a9dabaa12d11fdbd9a358aac49bbf37fa617c21bad2fefd9ddf328570ba4549d51410d1c

test:
  secret_key_base: 33a4733a0ddef6e970f689848d77ab06d9ec07129c2795fa17b55b99af720c475ff45665da5b7de5b2e8cd46a40ea0f2fa67952828e62be6200e953a4ab5e00e

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
